# Python and Node.js project ignores
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so
# Distribution / packaging
.Python
build/
dist/
requirements.txt
venv/

# Node.js dependencies
node_modules/
.env
Backend_using_express/package-lock.json
Backend_using_express/package.json


